@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
*{
    margin: 0;
    padding: 5px;
    box-sizing: 10px;
    outline: none;
    font-family: 'Inconsolata', monospace;
}

body{
      background-image:url(https://www.worldatlas.com/r/w728-h425-c728x425/upload/e1/19/b8/shutterstock-563866105.jpg);
      background-size: 100%;
}
.container{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    max-width: 450px;
    width: 100%;
    background:white;
    padding: 35px;
    border-radius: 5px;
    box-shadow: 8px 8px 2px black;
    color:rgb(16, 91, 116)
}
.container h1{
    text-align:center;
    margin-bottom:20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(25, 102, 128);
}
.container .fieldet{
    margin-bottom: 10px;

}
.input[type="number"],
.container textarea{
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    border-color: rgb(58, 118, 139)
}
.input[type="number"],
.container textarea{
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    border-color:rgb(74, 125, 143);
}
.container .input[type="radio"]{
    border: 0;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background:rgb(125, 153, 170);
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius:25px;
    cursor:pointer;
}
.container #error_message{
    margin-bottom: 20px;
    padding:0;
    background: rgb(218, 72, 72);
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}
.container .buttondesign{
    margin-top: 0px;
    padding: 0px;
    width: 90%;
    background:rgb(125, 153, 170);
    color: rgb(7, 101, 133);
    text-transform: uppercase;
    font-weight: bold;
    cursor:pointer;
}